<div class="container">
  <section class="comments">
    <h2 class="comments-title">Profesores</h2>
    <div class="comment-cards">

      <div class="comment-card">

        <div class="comment-avatar">
          <img src="assets/profesor1.jpg" alt="Avatar del Profesor A">
        </div>

        <div class="comment-content">
          <p class="comment-text">Como profesor en SkillSwap, mi experiencia ha sido verdaderamente enriquecedora. Esta plataforma me ha brindado la oportunidad de compartir mis conocimientos y habilidades con personas apasionadas de todo el mundo.</p>
          <p class="comment-author">- Profesor A.</p>
        </div>

      </div>
      <div class="comment-card">

        <div class="comment-avatar">
          <img src="assets/profesor2.jpg" alt="Avatar del Profesor B">
        </div>

        <div class="comment-content">
          <p class="comment-text">Lo más gratificante de enseñar en esta plataforma es saber que estoy contribuyendo a la formación de futuros diseñadores. Ver cómo mis alumnos adquieren nuevas habilidades y crecen en su creatividad es realmente inspirador. Algunos de mis estudiantes han comenzado sus propios proyectos exitosos y sé que SkillSwap ha sido un trampolín para ellos.</p>
          <p class="comment-author">- Profesor B.</p>
        </div>

      </div>
      <!-- Agrega más tarjetas de comentarios según sea necesario -->
    </div>
  </section>
</div>
