<!-- app.component.html -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
  <section class="hero" style="background-image: url('assets/fondo.jpg');">
    <div class="hero-content">
      <h1 class="hero-title">Aprende y Enseña Habilidades</h1>
      <p class="hero-description">Conéctate con personas talentosas de todo el mundo.</p>
      <a href="#" class="hero-button">Empezar</a>
    </div>
  </section>
    <section class="mission-vision-section">

        <!-- Tarjeta de Visión -->
        <div class="mission-vision-card">
          <h2 class="card-title">Visión</h2>
          <p class="card-description">
            Nuestra visión en DevDynasty es liderar el camino en la creación de plataformas tecnológicas que redefinan la forma en que las personas aprenden y crecen juntas. Visualizamos un mundo en el que DevDynasty sea sinónimo de aprendizaje compartido, y donde las personas de todas las edades y orígenes puedan acceder a una red global de intercambio de conocimientos. Aspiramos a ser catalizadores del desarrollo personal y la colaboración en una escala sin precedentes.
          </p>
        </div>

        <!-- Tarjeta de Misión -->
        <div class="mission-vision-card">
          <h2 class="card-title">Misión</h2>
          <p class="card-description">
            Nuestra misión en DevDynasty es utilizar la tecnología para abrir nuevas puertas de aprendizaje y empoderamiento. Nos esforzamos por crear soluciones que permitan a las personas compartir sus habilidades, descubrir nuevas pasiones y conectarse en una comunidad global de aprendizaje colaborativo. Estamos comprometidos en proporcionar a individuos de todas partes la oportunidad de convertirse tanto en maestros como estudiantes en un ambiente enriquecedor y de apoyo.
          </p>
        </div>
    </section>

</div>
